.Title {
    color: rgb(41, 41, 41);
    font-size: 52px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-weight: 700;
  }
  
  .Title span {
    color: #ccc;
    margin-top: 10px;
    font-weight: 300;
  }